<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.S Fittings.com</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/logo.png')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" >
</head>
<body>
    <div class='hero'>
      <nav>
        <img src="{{url_for('static',filename='Images/logo.png')}}" class="logo">

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="product.html">Products</a></li>
          <li><a class="active" href="#">About Us</a></li>
          <li><a href="order_place.html">Order Place</a></li>
          <li><a href="order_status.html">Order Status</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col">
          <h1> ABOUT US </h1>
          
          <br>
          <br>
          <h2>M.S. Fittings MANUFACTURING CO. PVT. LTD.</h2>
          <br><br>
          <p>
            M.S.FITTINGS MANUFACTURING CO.PVT.LTD is an ISO 9001:2015; ISO 45001; PED EN10201:2004, certified company. 
            Apart from being approved by EIL and IBR for the manufacture of IBR Pipe Fittings and Flanges and also being in the approved list of Technical Development Committee for Indigenous Materials. <br> <br>
            Some of the third party inspection agencies with whom the Company normally works are M/s. TUV-NORD and M/s. TUV-SUD; M/s. BVIS, M/s. CEIL, M/s. DNV, M/s. EIL, M/s. IRS, M/s. LRIS, M/s. NPCIL,
             M/s. PDIL, M/s. Tata Consultants, and almost all Reputed TPI’s. Our field of activities is generally with Refineries and Petrochemical Industries as well as with Fertilizers and Power Industries
          </p>
          
          <br><br>
          <a href="http://www.msfittings.com/about-us">Read More</a>
  
  
        </div>
        <div class="col">
          <img src="{{url_for('static',filename='Images/FactoryImage.jpg')}}" class="feature-img">
        </div>
  
      </div> <br><br><br>
      <div class="footer">
        <h3><i class="fa fa-copyright" aria-hidden="true"></i>Developed by :  Pabitra Kumar Ghorai</h3>
      </div>

     
    </div>

    


</body>
</html>