<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M.S Fittings.com</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/logo.png')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}" >
</head>
<body>
    <div class='hero'>
      <nav>
        <img src="{{url_for('static',filename='Images/logo.png')}}" class="logo">

        <ul>
          <li><a class="active" href="#">Home</a></li>
          <li><a href="product.html">Products</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="order_place.html">Order Place</a></li>
          <li><a href="order_status.html">Order Status</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col">
          <h1>M.S. Fittings <br> MANUFACTURING CO. PVT. LTD.</h1>
          
          <br>
          <p>
            M. S. Fittings Mfg. Co. Pvt. Ltd. was established in the year 1957. 
            The Company has complete infrastructure to manufacture fittings and flanges while conforming to ASME, BS & IS Std’s.
          </p> 
          <br>
          <h2> About Us</h2>
          <br>
          <p>
            Products of the company are also available with IBR Certificate/s on Form IIIC. 
            It has been our honour to work for the most reputed Govt. & Semi-Govt. 
            undertakings as well as private companies of international repute. 
            Our field of activities are generally with Refineries and Petrochemical Industries, Fertilizers, Gas Equipment Manufacturers as well as with Nuclear and Thermal Power Plants.
          </p>
          <br><br>
          <a href="http://www.msfittings.com/about-us">Read More</a>
  
  
        </div>
        <div class="col">
          <img src="{{url_for('static',filename='Images/about-us.jpg')}}" class="feature-img">
        </div>
  
      </div> <br><br><br>
      <div class="footer">
        <h3><i class="fa fa-copyright" aria-hidden="true"></i>Developed by :  Pabitra Kumar Ghorai</h3>
      </div>

     
    </div>

    


</body>
</html>