<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>response_page</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='Images/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/success_msg.css')}}" >
</head>
<body>
    <br>
    <br>
    <div class="h1_text">
        <h1>Order details has succesfully submited</h1>
    </div>
    <br> <br>
    <div class="h2_text">
        <h2>Please click the HOME button for back to the HOME page.</h2>
    </div>
    <br> <br>
    <div class="btn">
        <a href="/">HOME</a>
    </div>
    
</body>
</html>